@charset "UTF-8";
:root {
  /*변경*/
  --krds-contents-wrap-size: 1816px;
  /*추가*/
  --custom-bg-blue-5:#F5F9FC;

}

/* layout */
#container {flex: 1;background-color: var(--custom-bg-blue-5);}
#container > .inner:not(.in-between) {padding: var(--krds-pc-padding-card-small) var(--krds-pc-padding-card-medium);}

.contents-box {border-radius:var(--krds-radius-xlarge2);background-color: var(--krds-light-color-surface-white);}
.contents-box-shadow { }

.contents-box > div {padding:var(--krds-number-12) var(--krds-number-14)}
.contents-box > .inner-top {border-bottom: 1px solid var(--krds-color-light-gray-10);}

.conts-area {display: flex;flex-direction: column;gap: var(--krds-gap-4);}

.krds-form-select,
.krds-input {height:var(--krds-size-height-7)}

.krds-form-select {border-color:var(--krds-color-light-gray-30);--krds-form-select--radius-small: var(--krds-radius-medium2);cursor: pointer;}
.krds-form-select.completed {border-color:var(--krds-form-select--color-border)}

.krds-form-check {display:flex;}
.krds-form-check:focus {border-radius: var(--krds-form-check--checkbox-button-radius-medium);}
.krds-form-check input ~ label:has(.sr-only),
.krds-form-check input[type=checkbox] ~ label:has(.sr-only):focus {border:0;border-radius: var(--krds-form-check--checkbox-button-radius-medium);}
.krds-form-check input[type=checkbox] ~ label:has(.sr-only):before {margin-top: 0;}
.krds-form-check input[type=checkbox] ~ label:has(.sr-only):after {top: calc((var(--krds-form-check--button-size-medium) - var(--krds-form-check--checkbox-check-size-medium)) / 6 + var(--krds-form-check--button-margin-top));}


.search-list-top .sch-info li, .search-list-top .sch-sort li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
}

.search-list-top {
    --search-list-color-text-primary: var(--krds-light-color-text-primary);
    --search-list-width-border: var(--krds-light-border-width-variable-regular);
    --search-list-color-border: var(--krds-light-color-divider-gray);
    --search-list-sort-btn-color-button-hover: var(--krds-light-color-button-text-fill-hover);
    --search-list-sort-btn-color-button-active: var(--krds-light-color-button-text-fill-pressed);
    --search-list-sort-btn-color: var(--krds-light-color-text-basic);
    --search-list-sort-btn-color-background: var(--krds-light-color-button-text-fill);
    --search-list-sort-btn-border: var(--krds-light-border-width-static-regular) solid var(--krds-light-color-button-text-border);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--krds-gap-9);
    margin:0;
}
.search-list-top .sch-info {
    display: inline;
    font-size: var(--krds-pc-font-size-body-large);
    font-weight: var(--krds-font-weight-bold);
}
.search-list-top .sch-info li {
    display: inline;
}
.search-list-top .sch-info .point {
    word-break: break-all;
    color: var(--search-list-color-text-primary);
    margin-left:1rem;
}

.search-list-top .sch-sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1.4rem;
}
.search-list-top .sch-sort {
    flex-shrink: 0;
}
.search-list-top .sch-info li, .search-list-top .sch-sort li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
}
.search-list-top .sch-info li:not(:last-child), .search-list-top .sch-sort li:not(:last-child) {
    padding-right: 1.7rem;
}
.search-list-top .sch-sort .sort-label {
    font-weight: var(--krds-font-weight-bold);
    white-space: nowrap;
    margin-right: var(--krds-gap-4);
}
.search-list-top .sch-sort .krds-form-select-sort {
    border: var(--search-list-sort-btn-border);
    border-radius: var(--krds-radius-medium2);
    background-color: var(--search-list-sort-btn-color-background);
}
.search-list-top .sch-info li:not(:last-child)::after, .search-list-top .sch-sort li:not(:last-child)::after {
    content: "";
    display: inline-flex;
    width: var(--search-list-width-border);
    height: var(--krds-size-height-2);
    background-color: var(--search-list-color-border);
    position: absolute;
    bottom: initial;
    right: 0.5rem;
}
.search-list-top .sch-sort .w-sort-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--krds-gap-3);
}




/* footer */
#krds-footer {background-color: var(--custom-bg-blue-5);}
#krds-footer > .inner {max-width: var(--krds-contents-wrap-size);padding: var(--krds-pc-padding-card-small) var(--krds-pc-padding-card-medium);}
#krds-footer .f-copy {color: var(--krds-light-color-text-subtle-inverse);font-size: var(--krds-mobile-font-size-body-xsmall);font-weight: var(--krds-font-weight-regular);}


.search-top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-top-box .krds-form-check .count {
    color: var(--krds-color-high-contrast-gray-40);
    font-weight: var(--krds-typo-font-weight-regular);
    font-size: var(--krds-mobile-font-size-label-medium);
}
.search-top-box .krds-form-check .count > em {
    display: inline-flex;
    justify-content: center;
    min-width:2.8rem;
    line-height: 1.5;
    padding: 0 0.25rem;
    margin: 0 .2em 0 .4rem;
    font-weight: var(--krds-font-weight-regular);
    color:var(--krds-color-high-contrast-gray-60);
    border-radius: 0.5rem;
    background: var(--krds-color-light-gray-5);
}


.filter-section {
    display: flex;
    align-items: center;
    gap: 24px;
}

.btn-group {
    display: flex;
    gap: 18px;
    align-items: center;
}

.tab-group {
    display: flex;
    border: 1px solid #b1b8be;
    border-radius: 8px;
    overflow: hidden;
}

.tab-btn {
    padding: 10px 12px;
    min-width: 76px;
    background: white;
    border: none;
    border-right: 1px solid #b1b8be;
    font-size: 15px;
    color: #464c53;
    cursor: pointer;
    transition: all 0.2s;
}

.tab-btn:last-child {
    border-right: none;
}

.tab-btn:hover {
    background-color: #f4f5f6;
}

