@charset "utf-8";

/* ================================================
   layout 초기화 및 재정의
   ================================================ */
.dashboard #krds-header .sub-nav-wrap {
  display: none;
}

.dashboard #container > .inner {
  padding: 0;
  gap: var(--krds-gap-7);
}

/* ================================================
   Main Content
   ================================================ */

.main-content {
  flex: 1;
  width: 100%;
  padding: var(--krds-number-12);
}

/* ================================================
   Greeting
   ================================================ */

.greeting {
  display: flex;
  align-items: center;
  gap: var(--krds-number-7);
  margin-bottom: var(--krds-number-6);
}

.greeting-title {
  font-size: var(--krds-pc-font-size-heading-medium);
  color: var(--krds-color-light-gray-90);
}

.greeting-date {
  display: flex;
  align-items: center;
  gap: var(--krds-number-6);
}

.today-badge {
  padding: var(--krds-number-2) var(--krds-number-6);
  border: 1px solid var(--krds-color-light-gray-30);
  border-radius: var(--krds-radius-max);
  color: var(--krds-light-color-text-subtle);
  font-size: var(--krds-pc-font-size-label-small);
  font-weight: var(--c-font-weight-6);
}

.date-text {
  color: var(--krds-light-color-text-subtle);
  line-height: 1;
}

/* ================================================
   Table Section
   ================================================ */

.table-section {
  display: flex;
  background: var(--krds-color-light-gray-0);
  border-radius: var(--krds-number-6);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.04),    0 8px 16px 0 rgba(0,0,0,.06);
  padding: var(--krds-number-16) var(--krds-number-17);
  flex-direction: column;
  gap: var(--krds-gap-6);
}

.section-header {
  display: flex;
  align-items: center;
  gap: var(--krds-number-5);
}

.section-title {
  font-size: var(--krds-pc-font-size-heading-small);
  color: var(--krds-color-light-gray-90);
}

.section-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section-footer .btn-wrap {
  width:unset
}


/* ================================================
   토탈 데이터
   ================================================ */
.total-txt {
  color: var(--krds-light-color-text-subtle);
  font-size: var(--krds-pc-font-size-body-medium);
}
.total-txt .number {
  color: var(--krds-light-color-text-primary);
  font-weight: var(--krds-font-weight-bold);
}


/* ========================================
 * Charts Layout
 * ====================================== */

.charts-section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--krds-gap-7);
}

/* 카드 공통 */
.chart-card {
  background-color: var(--krds-light-color-surface-white);
  border-radius: var(--krds-radius-xlarge1);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.04), 0 8px 16px 0 rgba(0,0,0,.06);
  padding: var(--krds-number-14) var(--krds-number-16);
  display: flex;
  width: 64rem;
  flex: 1;
}

.chart-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* 도넛 카드만 살짝 다르게 */
.chart-card--donut {
  max-width: 52rem
}
.chart-card--donut .chart-inner {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--krds-gap-2);
}

/* ========================================
 * 공통 타이틀/헤더
 * ====================================== */

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--krds-gap-8);
  width: 100%;
}

.chart-title {
  font-size: var(--krds-pc-font-size-heading-small);
  font-weight: var(--krds-font-weight-bold);
  color: var(--krds-light-color-text-basic);
}

.chart-date {
  font-size: var(--krds-pc-font-size-label-xsmall);
  color: var(--krds-color-light-gray-30);
}

/* 도넛 라벨 */
.chart-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  font-size: var(
  --krds-pc-font-size-heading-small);
  font-weight: var(
  --krds-font-weight-bold);
  color: var(
  --krds-light-color-text-basic);
}

/* ========================================
 * 캔버스 영역
 * ====================================== */

.chart-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-canvas-wrap {
  width: 100%;
  height: 16rem;
}

.chart-card--donut .chart-wrap {
  width: 60%;
}

#chart-program {
  width: 100%;
  width: 25rem;
  height: 25rem;
  max-height: 25rem;
}

#chart-year,
#chart-progress {
  width: 100%;
  height: 100%;
}

/* canvas가 부모 크기를 따라가도록 */
.charts-section canvas {
  display: block;
}

/* ========================================
 * 범례
 * ====================================== */

.chart-legend {
  display: flex;
  flex-direction: column;
  gap: var(--krds-gap-2);
}

.chart-legend.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--krds-gap-4);
  gap: var(--krds-number-5);
}

.chart-legend .legend-item {
  display: inline-flex;
  align-items: center;
  gap: var(--krds-number-2);
  font-size: var(--krds-pc-font-size-label-small);
  color: var(--krds-light-color-text-subtle);
  white-space: nowrap;
  cursor: pointer;
}

.legend-dot {
  width: var(--krds-number-7);
  height: var(--krds-number-7);
  border-radius: var(--krds-radius-max);
  display: inline-block;
}

/* 숨김 상태 시 스타일 */
.legend-item.is-hidden {
  opacity: 0.4;
  text-decoration: line-through;
}

/* 색상 매핑 */
.legend-dot.color-1 { background-color: #8979ff; }
.legend-dot.color-2 { background-color: #ff928a; }
.legend-dot.color-3 { background-color: #3cc3df; }
.legend-dot.color-4 { background-color: #ffae4c; }
.legend-dot.color-5 { background-color: #537ff1; }
.legend-dot.color-6 { background-color: #3FA654; }
.legend-dot.color-7 { background-color: #8A949E; }



