@media (min-width: 1921px) {
  .main-bg::after {
    height: 37vh;
    max-height: 48rem;
  }
  .auth-page #container > .inner:not(.in-between) {
    padding:var(--krds-number-22) 0 var(--krds-padding-8)
  }
  .page-title-wrap {
    margin-bottom: var(--krds-number-14);
  }
}
