@charset "UTF-8";

@media (max-width: 1440px) {
  .header-content {
    padding-left: var(--krds-number-12);
  }

  .nav-item {
    padding: 0 var(--krds-number-8);
    min-width: var(--krds-number-14);
  }
}

@media (max-width: 768px) {
  .header-content {
    padding-left: var(--krds-number-9);
  }

  .main-nav {
    display: none;
  }
}




/* Responsive */
@media (max-width: 1200px) {
  .right-section {
    position: static;
    width: 100%;
    max-width: 800px;
  }

  .left-section {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .section {
    padding: var(--krds-number-12) var(--krds-number-10) var(--krds-number-16) var(--krds-number-10);
  }

  .form-group-inner {
    flex-direction: column;
    gap: var(--krds-gap-3);
  }

  .form-group-inner.email {
    flex-direction: column;
  }

  .separator {
    display: none;
  }

  .info-card {
    padding: var(--krds-number-10) var(--krds-number-9);
  }
}