@charset "UTF-8";


/* 버튼 */
.krds-btn.line {
    padding: 0 .7rem;
    border-color: var(--krds-color-high-contrast-gray-20);
    background-color: var(--krds-color-light-alpha-white100);
}
.krds-btn.line .svg-icon {
    background-color: var(--krds-light-color-text-basic);
}
.krds-btn.line.small .svg-icon {
    width: var(--krds-icon--size-large);
    height: var(--krds-icon--size-large);
}

/* 테이블 */
.krds-table-wrap .tbl.data.center thead th,
.krds-table-wrap .tbl.data.center tbody td {text-align:center;}
.krds-table-wrap .tbl.data.center thead th.left,
.krds-table-wrap .tbl.data.center tbody td.left {text-align:left;}
.krds-table-wrap .tbl.data.center thead th.right,
.krds-table-wrap .tbl.data.center tbody td.right {text-align:right;}


/* 아이콘 */
.svg-icon {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
}

[class$="-disabled"] {
    background-color: var(--krds-light-color-icon-gray-fill);
}

[class$="-fill"] {
    -webkit-mask-image: none;
    mask-image: none;
    background-color: transparent !important;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-mask: none;
    mask: none;
}

.svg-icon.ico-docu {
    -webkit-mask-image: url(/style/resources/img/ico_document.svg);
    mask-image: url(/style/resources/img/ico_document.svg); 
}
.svg-icon.ico-arrsort {
    -webkit-mask-image: url(/style/resources/img/ico_arrow_sort_both.svg);
    mask-image: url(/style/resources/img/ico_arrow_sort_both.svg); 
}
.svg-icon.ico-atomic {
    -webkit-mask-image: url(/style/resources/img/ico_atomic.svg);
    mask-image: url(/style/resources/img/ico_atomic.svg); 
}
.svg-icon.ico-facesad {
    -webkit-mask-image: url(/style/resources/img/ico_face_sad.svg);
    mask-image: url(/style/resources/img/ico_face_sad.svg); 
}

.svg-icon.ico-access {
    -webkit-mask-image: url(/style/resources/img/ico_accessibility.svg);
    mask-image: url(/style/resources/img/ico_accessibility.svg);
}
.svg-icon.ico-analy {
    -webkit-mask-image: url(/style/resources/img/ico_analytics.svg);
    mask-image: url(/style/resources/img/ico_analytics.svg);
}
.svg-icon.ico-rotaleft {
    -webkit-mask-image: url(/style/resources/img/ico_arrow_rotate_left.svg);
    mask-image: url(/style/resources/img/ico_arrow_rotate_left.svg);
}
.svg-icon.ico-blur {
    -webkit-mask-image: url(/style/resources/img/ico_blur.svg);
    mask-image: url(/style/resources/img/ico_blur.svg);
}
.svg-icon.ico-bookmk {
    -webkit-mask-image: url(/style/resources/img/ico_bookmarks.svg);
    mask-image: url(/style/resources/img/ico_bookmarks.svg);
}
.svg-icon.ico-certi {
    -webkit-mask-image: url(/style/resources/img/ico_certified.svg);
    mask-image: url(/style/resources/img/ico_certified.svg);
}

.svg-icon.ico-component {
    -webkit-mask-image: url(/style/resources/img/ico_component.svg);
    mask-image: url(/style/resources/img/ico_component.svg);
}
.svg-icon.ico-copy {
    -webkit-mask-image: url(/style/resources/img/ico_copy.svg);
    mask-image: url(/style/resources/img/ico_copy.svg);
}

.svg-icon.ico-docu-bold {
    -webkit-mask-image: url(/style/resources/img/ico_document_fill.svg);
    mask-image: url(/style/resources/img/ico_document_fill.svg);
}
.svg-icon.ico-docu-twin {
    -webkit-mask-image: url(/style/resources/img/ico_document_twin.svg);
    mask-image: url(/style/resources/img/ico_document_twin.svg);
}
.svg-icon.ico-docu-check {
    -webkit-mask-image: url(/style/resources/img/ico_document_check.svg);
    mask-image: url(/style/resources/img/ico_document_check.svg);
}
.svg-icon.ico-dummy {
    -webkit-mask-image: url(/style/resources/img/ico_dummy.svg);
    mask-image: url(/style/resources/img/ico_dummy.svg);
}
.svg-icon.ico-heart {
    -webkit-mask-image: url(/style/resources/img/ico_ecg_heart.svg);
    mask-image: url(/style/resources/img/ico_ecg_heart.svg);
}
.svg-icon.ico-edit-bold {
    -webkit-mask-image: url(/style/resources/img/ico_edit_fill.svg);
    mask-image: url(/style/resources/img/ico_edit_fill.svg);
}
.svg-icon.ico-edit {
    -webkit-mask-image: url(/style/resources/img/ico_edit.svg);
    mask-image: url(/style/resources/img/ico_edit.svg);
}
.svg-icon.ico-edit-type2 {
    -webkit-mask-image: url(/style/resources/img/ico_edit_type2.svg);
    mask-image: url(/style/resources/img/ico_edit_type2.svg);
}
.svg-icon.ico-eleva {
    -webkit-mask-image: url(/style/resources/img/ico_elevation.svg);
    mask-image: url(/style/resources/img/ico_elevation.svg);
}
.svg-icon.ico-ellipsv {
    -webkit-mask-image: url(/style/resources/img/ico_ellipsis_vertical.svg);
    mask-image: url(/style/resources/img/ico_ellipsis_vertical.svg);
}
.svg-icon.ico-facesmile {
    -webkit-mask-image: url(/style/resources/img/ico_face_smile.svg);
    mask-image: url(/style/resources/img/ico_face_smile.svg);
}
.svg-icon.ico-filter-type2 {
    -webkit-mask-image: url(/style/resources/img/ico_filter_type2.svg);
    mask-image: url(/style/resources/img/ico_filter_type2.svg);
}
.svg-icon.ico-hdphone {
    -webkit-mask-image: url(/style/resources/img/ico_headphones.svg);
    mask-image: url(/style/resources/img/ico_headphones.svg);
}
.svg-icon.ico-idtt {
    -webkit-mask-image: url(/style/resources/img/ico_identity.svg);
    mask-image: url(/style/resources/img/ico_identity.svg);
}
.svg-icon.ico-img {
    -webkit-mask-image: url(/style/resources/img/ico_img.svg);
    mask-image: url(/style/resources/img/ico_img.svg);
}
.svg-icon.ico-lncheck {
    -webkit-mask-image: url(/style/resources/img/ico_line_check.svg);
    mask-image: url(/style/resources/img/ico_line_check.svg);
}
.svg-icon.ico-locaawy {
    -webkit-mask-image: url(/style/resources/img/ico_location_away.svg);
    mask-image: url(/style/resources/img/ico_location_away.svg);
}
.svg-icon.ico-password {
    -webkit-mask-image: url(/style/resources/img/ico_login_id_password.svg);
    mask-image: url(/style/resources/img/ico_login_id_password.svg);
}
.svg-icon.ico-map {
    -webkit-mask-image: url(/style/resources/img/ico_map.svg);
    mask-image: url(/style/resources/img/ico_map.svg);
}
.svg-icon.ico-minus {
    -webkit-mask-image: url(/style/resources/img/ico_minus.svg);
    mask-image: url(/style/resources/img/ico_minus.svg);
}
.svg-icon.ico-mode {
    -webkit-mask-image: url(/style/resources/img/ico_mode.svg);
    mask-image: url(/style/resources/img/ico_mode.svg);
}
.svg-icon.ico-newfolder {
    -webkit-mask-image: url(/style/resources/img/ico_new_folder.svg);
    mask-image: url(/style/resources/img/ico_new_folder.svg);
}
.svg-icon.ico-open {
    -webkit-mask-image: url(/style/resources/img/ico_open.svg);
    mask-image: url(/style/resources/img/ico_open.svg);
}
.svg-icon.ico-paycard {
    -webkit-mask-image: url(/style/resources/img/ico_payment_card.svg);
    mask-image: url(/style/resources/img/ico_payment_card.svg);
}

.svg-icon.ico-helpline {
    -webkit-mask-image: url(/style/resources/img/ico_popover_help.svg);
    mask-image: url(/style/resources/img/ico_popover_help.svg);
}
.svg-icon.ico-receipt {
    -webkit-mask-image: url(/style/resources/img/ico_receipt.svg);
    mask-image: url(/style/resources/img/ico_receipt.svg);
}
.svg-icon.ico-reset-type2 {
    -webkit-mask-image: url(/style/resources/img/ico_reset_type2.svg);
    mask-image: url(/style/resources/img/ico_reset_type2.svg);
}
.svg-icon.ico-shadow {
    -webkit-mask-image: url(/style/resources/img/ico_shadow.svg);
    mask-image: url(/style/resources/img/ico_shadow.svg);
}
.svg-icon.ico-spread {
    -webkit-mask-image: url(/style/resources/img/ico_spread.svg);
    mask-image: url(/style/resources/img/ico_spread.svg);
}
.svg-icon.ico-sync {
    -webkit-mask-image: url(/style/resources/img/ico_sync.svg);
    mask-image: url(/style/resources/img/ico_sync.svg);
}
.svg-icon.ico-time {
    -webkit-mask-image: url(/style/resources/img/ico_time.svg);
    mask-image: url(/style/resources/img/ico_time.svg);
}
.svg-icon.ico-trans {
    -webkit-mask-image: url(/style/resources/img/ico_transparency.svg);
    mask-image: url(/style/resources/img/ico_transparency.svg);
}
.svg-icon.ico-trash {
    -webkit-mask-image: url(/style/resources/img/ico_trash.svg);
    mask-image: url(/style/resources/img/ico_trash.svg);
}
.svg-icon.ico-tray {
    -webkit-mask-image: url(/style/resources/img/ico_tray.svg);
    mask-image: url(/style/resources/img/ico_tray.svg);
}
.svg-icon.ico-trophy {
    -webkit-mask-image: url(/style/resources/img/ico_trophy.svg);
    mask-image: url(/style/resources/img/ico_trophy.svg);
}
.svg-icon.ico-typobox {
    -webkit-mask-image: url(/style/resources/img/ico_typo_box.svg);
    mask-image: url(/style/resources/img/ico_typo_box.svg);
}
.svg-icon.ico-typo {
    -webkit-mask-image: url(/style/resources/img/ico_typo.svg);
    mask-image: url(/style/resources/img/ico_typo.svg);
}
.svg-icon.ico-veiwall {
    -webkit-mask-image: url(/style/resources/img/ico_veiw_all.svg);
    mask-image: url(/style/resources/img/ico_veiw_all.svg);
}

.svg-icon.ico-refile-disabled {
    -webkit-mask-image: url(/style/resources/img/ico_file_return_disabled.svg);
    mask-image: url(/style/resources/img/ico_file_return_disabled.svg);
}

.svg-icon.ico-lncheck-disabled {
    -webkit-mask-image: url(/style/resources/img/ico_checkbox_line.svg);
    mask-image: url(/style/resources/img/ico_checkbox_line.svg);
}

.svg-icon.ico-cmpdisabled-fill {
    background-image: url(/style/resources/img/ico_complete_disabled.svg);
}
.svg-icon.ico-reding-fill {
    background-image: url(/style/resources/img/ico_sysyem_ing_red.svg);
}
.svg-icon.ico-yeling-fill {
    background-image: url(/style/resources/img/ico_sysyem_img_yellow.svg);
}
.svg-icon.ico-danger-fill {
    background-image: url(/style/resources/img/ico_system_danger.svg);
}
.svg-icon.ico-dangergr-fill {
    background-image: url(/style/resources/img/ico_system_danger_type2.svg);
}
.svg-icon.ico-yelinfo-fill {
    background-image: url(/style/resources/img/ico_system_info_type2.svg);
}
.svg-icon.ico-reject-fill {
    background-image: url(/style/resources/img/ico_system_reject.svg);
}
.svg-icon.ico-return-fill {
    background-image: url(/style/resources/img/ico_system_return.svg);
}
.svg-icon.ico-warning-fill {
    background-image: url(/style/resources/img/ico_system_warning.svg);
}

.svg-icon.ico-refile-fill {
    background-image: url(/style/resources/img/ico_file_return.svg);
}
.svg-icon.ico-twinck-fill {
    background-image: url(/style/resources/img/ico_guide_check.svg);
}
.svg-icon.ico-library-fill {
    background-image: url(/style/resources/img/ico_library.svg);
}
.svg-icon.ico-roundck-fill {
    background-image: url(/style/resources/img/ico_round_check.svg);
}

.svg-icon.ico-downblue-fill {
    background-image: url(/style/resources/img/ico_stat_down_blue.svg);
}
.svg-icon.ico-upred-fill {
    background-image: url(/style/resources/img/ico_stat_up_red.svg);
}

.svg-icon.ico-curser-fill {
    background-image: url(/style/resources/img/ico_curser.svg);
}

.svg-icon.ico-pdf-fill {
    background-image: url(/style/resources/img/ico_pdf.svg);
}