@charset "UTF-8";

#container{display: flex;padding: var(--gap-11, 64px) 60px var(--padding-card-large, 40px) 60px;flex-direction: column;gap: var(--gap-layout-title-body-large, 24px);align-self: stretch;}


.search-top-box{display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--krds-gap-9);
    margin: var(--krds-pc-gap-layout-h2-h3) 0 var(--krds-gap-7);
}
.search-list-top {display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--krds-gap-9);
    margin: var(--krds-pc-gap-layout-h2-h3) 0 var(--krds-gap-7);

    --search-list-color-text-primary: var(--krds-light-color-text-primary);
    --search-list-width-border: var(--krds-light-border-width-variable-regular);
    --search-list-color-border: var(--krds-light-color-divider-gray);
    --search-list-sort-btn-color-button-hover: var(--krds-light-color-button-text-fill-hover);
    --search-list-sort-btn-color-button-active: var(--krds-light-color-button-text-fill-pressed);
	--search-list-sort-btn-color: var(--krds-light-color-text-basic);
	--search-list-sort-btn-color-background: var(--krds-light-color-button-text-fill);
	--search-list-sort-btn-border: var(--krds-light-border-width-static-regular) solid var(--krds-light-color-button-text-border);
}
.sch-info {display: inline;font-size: var(--krds-pc-font-size-body-large);font-weight: var(--krds-font-weight-bold);}
.sch-info .point{word-break: break-all;color: var(--search-list-color-text-primary);}
.sch-info .br {display:none;}
.sch-sort {display: flex;align-items:center;gap: var(--krds-gap-2);}
.sch-sort {display: flex;align-items:center;justify-content:flex-end;flex-direction:row;}
.sch-sort .sort-label {
    font-weight: var(--krds-font-weight-bold);
    white-space: nowrap;
    margin-right: var(--krds-gap-4);
}
.sch-sort .krds-form-select-sort{
    border: var(--search-list-sort-btn-border);
    border-radius: var(--krds-radius-medium2);
    background-color: var(--search-list-sort-btn-color-background);
}
.sch-sort .w-sort-btn {display:flex;align-items:center;gap: var(--krds-gap-3);}
.sch-sort button {
    transition: var(--krds-transition-base);
    color: var(--search-list-sort-btn-color);
    border: var(--search-list-sort-btn-border);
    border-radius: var(--krds-radius-medium2);
    background-color: var(--search-list-sort-btn-color-background);}
.sch-sort button.active { }
.sch-sort button:hover {
    border-radius: var(--krds-radius-medium1);
    background-color: var(--search-list-sort-btn-color-button-hover);
    transition: $transition-base;
}
.sch-sort button:active {
    background-color: var(--search-list-sort-btn-color-button-active);
    transition: $transition-base;
}
.sch-sort .m-sort-btn {display: none;}
.sch-info li,
.sch-sort li{align-items:center;position: relative;}
.sch-info li:not(:last-child),
.sch-sort li:not(:last-child) {padding-right:1.7rem;}
.sch-info li:not(:last-child)::after,
.sch-sort li:not(:last-child)::after {
    content: "";
    display: inline-flex;
    width: var(--search-list-width-border);
    height: var(--krds-size-height-2);
    background-color: var(--search-list-color-border);
    position: absolute;
    bottom: .3rem;
    right: .5rem; 
}
.sch-sort {flex-shrink: 0;}
.sch-info li {display: inline;  }
.sch-info li .search-result {display: inline-block;width:max-content;} 

.side-line-ul {display:flex;flex-wrap: wrap; gap: var(--krds-gap-5) var(--krds-gap-3);}
.side-line-ul li {
    display: inline-flex;
    align-items: center;}
.side-line-ul li:not(:last-child)::after {
    display: inline-flex;
    content: "";
    width: var(--search-list-width-border);
    height: var(--krds-size-height-2);
    margin-left: var(--krds-padding-3);
    background-color: var(--search-list-color-border);
}
.side-line-ul li.border {
    flex-wrap: wrap;
    padding-bottom: var(--krds-padding-8);
    margin:0 0 var(--krds-padding-10);
    border-bottom: var(--search-list-width-border) solid var(--search-list-color-border);
}





/* list */
.krds-structured-list.type3{display:block;}
    .community-notice-list li a{
    display: flex;
    align-items: center;
    padding: var(--krds-padding-8);
    gap: var(--krds-gap-7);
    border-radius: var(--krds-radius-large2);
    border:1px solid var(--krds-light-color-divider-gray-light);
}
.community-notice-list li a.notif{ border-color:var(--krds-light-color-surface-gray-subtler);background-color: var(--krds-light-color-surface-gray-subtler);}
.community-notice-list li a > :not(.title) { flex-shrink: 0;}
.community-notice-list li a:hover { background-color: var(--krds-light-color-surface-secondary-subtler); }
.community-notice-list li a:focus {background-color: var(--krds-light-color-action-secondary-on-pressed); }
.community-notice-list li + li { margin-top: var(--krds-gap-3);}
.community-notice-list li .category {
    width: 8rem;
    color: var(--krds-light-color-text-secondary);
    font-size: var(--krds-pc-font-size-body-medium);}
.community-notice-list li:empty {display:none;}
.community-notice-list li a.notif .category{font-weight: var(--krds-font-weight-bold);}
.community-notice-list li .title {
    display: flex;
    align-items: center;
    gap: var(--krds-gap-2);
    width: 100%;
    color: var(--krds-light-color-text-bolder);
    font-size: var(--krds-pc-font-size-heading-xsmall);
    font-weight: var(--krds-font-weight-bold);
}
.community-notice-list li .ico-file {flex-shrink: 0; }
.community-notice-list li .date {color: var(--krds-light-color-text-subtle);}


/* view */
.community-page-title.line{ 
    padding-bottom: var(--krds-padding-10);
    border-bottom: var(--krds-light-border-width-variable-regular) solid var(--krds-light-color-divider-gray-dark);
}
 .community-page-title {margin-bottom: var(--krds-pc-gap-layout-h2-h3)};
 .community-page-title .krds-badge {margin-bottom: var(--krds-gap-4);}
 .community-page-title .tit {
    color: var(--krds-light-color-text-bolder);
    font-size: var(--krds-pc-font-size-heading-large);
    font-weight: var(--krds-font-weight-bold);
    letter-spacing: var(--krds-typo-letter-spacing-1);
}
.community-page-title  .category {
    color: var(--krds-light-color-text-secondary);
    font-size: var(--krds-pc-font-size-heading-xxsmall);
    font-weight: var(--krds-font-weight-bold);

}
.community-page-title .info {
    display: flex;
    align-items: center;
    margin-top: var(--krds-gap-3);     
}           
 .community-page-title .date {
    display: flex;
    align-items: center;
    color: var(--krds-light-color-text-subtle);
}
.community-page-title .info > span + span::before {
    content: "";
    display: inline-block;
    margin: 0 var(--krds-padding-5);
    width: var(--krds-light-border-width-static-regular);
    height: var(--krds-size-height-2);
    background-color: var(--krds-light-color-divider-gray);
}



/* ** 페이지 상세 영역 ** */
.conts-area {display:flex;align-items:  flex-start;justify-content: flex-start;flex-direction: column;gap: var(--krds-gap-9);width: 100%;}
.conts-area .sec-tit {font-size: var(--krds-pc-font-size-heading-medium);}


.g-description-area {
    gap: var(--krds-pc-gap-layout-h2-h2);
    width: 100%; }
.g-description-area  > * { width: 100%;        }
.g-description-area ~ .g-description-area {margin-top: var(--krds-pc-gap-layout-h3-h3);}
.g-description-area.line {
    padding-bottom: var(--krds-gap-9);
    border-bottom: var(--krds-light-border-width-variable-regular) solid var(--krds-light-color-divider-gray-light);
}
/* ** 첨부파일 */
.g-attach-file-wrap {
    width: 100%;
    padding: var(--krds-padding-10);
    border-radius: var(--krds-radius-xlarge2);
    background-color: var(--krds-light-color-surface-gray-subtle);}

.g-attach-file-wrap .file-list li {
    display: flex;
    align-items: center;
    gap: var(--krds-gap-5);
    margin-bottom: var(--krds-gap-5);
    padding: var(--krds-padding-6);
    border-radius: var(--krds-radius-medium3);
    border: var(--krds-light-border-width-variable-regular) solid var(--krds-light-color-divider-gray-light);
    background-color: var(--krds-light-color-background-white);
}

.g-attach-file-wrap .file-list li:last-child { margin-bottom: 0;}
.g-attach-file-wrap .file-list .name {width: 100%;word-break: break-all;color: var(--krds-light-color-text-bolder);}
.g-attach-file-wrap .file-list  .btn-download {flex-shrink:0;align-self: flex-end;}


/* ** 페이지 하단 버튼 ** */
.page-btn-wrap {
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    gap: var(--krds-gap-5);
    margin-top: var(--krds-gap-9);
    background-color: var(--krds-light-color-background-white);}
.page-btn-wrap.guide {flex-direction: column;}
.page-btn-wrap.guide .krds-btn {flex: initial;}
.page-btn-wrap.guide .guide-txt {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
}
.page-btn-wrap.both {justify-content: space-between;}
.page-btn-wrap.both.btn-wrap {
    display: flex;
    align-items: center;
    gap: var(--krds-gap-5);
    width: auto;
}
