@charset "UTF-8";

/* ==========================================================
INTRO PAGE 공통 스타일
========================================================== */

:root {
  --intro-bg-blue-5: #EDF7FF;
  --intro-bg-gray-5: #F8F9FB;
}

.intro-page {
    width: 100%;
    margin: 0 auto;
}


/* ==========================================================
공통 섹션 레이아웃
========================================================== */

.intro-section {
    position: relative;
    padding: 12rem 20rem 12rem;
    display: flex;
    flex-direction: column;
    gap: var(--krds-gap-12);
}

.intro-section > * {
    width: 100%;
    max-width: 131rem;
    margin: 0 auto;
}

.intro-section-head {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--krds-gap-5);
}

.intro-section-kicker {
    font-size: var(--krds-pc-font-size-heading-medium);
    font-weight: var(--c-font-weight-6);
    color: var(--krds-color-light-primary-40);
    line-height: 1;
}

.intro-section-title {
    font-size: var(--krds-pc-font-size-display-small);
    font-family: var(--c-font-edb);
    color: var(--krds-light-color-text-bolder);
    line-height: 1;
}


/* ==========================================================
1. HERO (인트로 최상단)
========================================================== */

.intro-hero {
    padding: 10rem 20rem 26rem;
    overflow: hidden;
}

.intro-hero::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 13rem;
    background-color: var(--intro-bg-blue-5);
}

.intro-hero-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.intro-hero-text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--krds-gap-4);
    padding-top: var(--krds-padding-8);
}

.intro-hero-kicker {
    font-size: var(--krds-pc-font-size-heading-small);
    font-weight: var(--krds-font-weight-bold);
    color: var(--krds-light-color-graphic-blue);
}

.intro-hero-title {
    font-size: var(--krds-number-16);
    font-weight: var(--krds-font-weight-bold);
    color: var(--krds-light-color-text-basic);
    font-family: var(--c-font-edb);
}

.intro-hero-desc {
    font-size: var(--krds-pc-font-size-body-large);
    color: var(--krds-light-color-graphic-blue);
    margin-top: var(--krds-number-13);
}

.intro-hero-illust {
    position: absolute;
    right: 0;
    width: 53rem;
    height: 53rem;
    background: url(../img/intro/intro_lottie.svg) 50% no-repeat;
}


.krds-btn.tertiary.intro-hero-btn {
    margin-top: var(--krds-number-8);
    color: var(--krds-light-color-text-basic-inverse);
    border-color: var(--krds-color-high-contrast-alpha-white25);
    background-color: var(--krds-color-high-contrast-alpha-white10);
}
.krds-btn.tertiary.intro-hero-btn:hover {
    border-color: var(--krds-color-high-contrast-alpha-white50);
    background-color: var(--krds-color-high-contrast-alpha-white25);
}

/* ==========================================================
상단 탭 네비게이션
========================================================== */

.intro-pageIn-nav {z-index: 10;position: absolute;padding: var(--krds-padding-6) 20rem;width: 100%;left: 0;}


.intro-pageIn-nav-list {display: flex;justify-content: flex-start;gap: var(--krds-gap-3);max-width: 131rem;margin: 0px auto;}

.intro-pageIn-btn {display: flex;border: 1px solid var(--krds-color-high-contrast-gray-20);border-radius: var(--krds-radius-max);padding: var(--krds-number-6) var(--krds-number-10);font-size: var(--krds-mobile-font-size-label-large);color: var(--krds-color-light-gray-40);font-weight: var(--krds-font-weight-regular);background-color: var(--krds-light-color-background-white);}

.intro-pageIn-nav-list .is-active .intro-pageIn-btn {color: var(--krds-light-color-text-inverse-static);font-weight: var(--krds-font-weight-bold);background-color: var(--krds-color-light-primary-50);border-color: var(--krds-color-light-primary-50);}

.intro-pageIn-nav.active {position: sticky;top:0; border-bottom: 1px solid var(--krds-color-high-contrast-alpha-black10);transition: background-color 0.25s ease;}
/* active + 섹션별 테마 */
.intro-pageIn-nav.active.nav-theme-feature {
  background-color: var(--intro-bg-blue-5);   /* 필요성 섹션 */
}
.intro-pageIn-nav.active.nav-theme-program {
  background-color: var(--intro-bg-blue-5);  /* 사업유형 섹션 */
}
.intro-pageIn-nav.active.nav-theme-bands {
  background-color: var(--krds-light-color-background-white);  /* 운영안내 섹션 */
}
.intro-pageIn-nav.active.nav-theme-steps {
  background-color:var(--intro-bg-gray-5);  /* 추진절차 섹션 */
}

.intro-pageIn-nav.active .intro-pageIn-nav-list {justify-content: center;}




/* ==========================================================
2. FEATURE SECTION (왜 필요할까요?)
========================================================== */

.intro-section-feature {padding: 20rem 20rem 10rem;background-color: var(--intro-bg-blue-5);}

.intro-feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.intro-feature-item {
position: relative;
text-align: center;
}

/* 말풍선 */
.intro-feature-bubble {
    background: var(--krds-color-light-secondary-5);
    border-radius: 1.5rem;
    padding: var(--krds-padding-10) var(--krds-padding-9);
    font-size: var(--krds-pc-font-size-body-medium);
    color: var(--krds-color-light-gray-50);
    margin: 0 auto;
    font-weight: var(--c-font-weight-6);
    mix-blend-mode: multiply;
}

/* 카드 */
.intro-feature-card {margin-top: 5rem;background: var(--krds-light-color-background-white);border-radius: var(--krds-number-10);padding: var(--krds-number-17);box-shadow: 0 18px 40px rgba(41, 72, 152, 0.1);display: flex;flex-direction: column;align-items: center;min-height: 50rem;gap: var(--krds-gap-6);position: relative;justify-content: space-between;}

/* 점선 연결 */
.intro-feature-card::before {content: "";position: absolute;top: -4.4rem;left: 50%;transform: translateX(-50%);height: 4rem;border-left: 2px dashed var(--krds-color-light-secondary-10);}

/* Solution 배지 */
.intro-feature-badge {padding: var(--krds-number-4) var(--krds-number-8);border-radius: var(--krds-radius-max);background: #E2EBFE;font-size: var(--krds-mobile-font-size-body-xsmall);font-weight: var(--c-font-weight-6);color: #2C3F62;}

/* 아이콘 */
.intro-feature-icon {width: 8rem;height: 8rem;background-position: 50%;background-repeat: no-repeat;}

.feature-icon-1 {background-image: url(../img/intro/icon_blue_graphic_01.svg);}
.feature-icon-2 {background-image: url(../img/intro/icon_blue_graphic_02.svg);}
.feature-icon-3 {background-image: url(../img/intro/icon_blue_graphic_03.svg);}

/* 카드 제목 */
.intro-feature-title {font-size: var(--krds-pc-font-size-heading-medium);font-weight: 700;color: var(--krds-light-color-text-basic);margin-bottom: var(--krds-number-12);}

.highlight {color: var(--krds-light-color-text-primary);}

/* 카드 텍스트 */
.intro-feature-text {font-size: var(--krds-pc-font-size-body-medium);color: var(--krds-light-color-text-subtle);line-height: 1.6;}


/* ==========================================================
3. PROGRAM SECTION (사업유형)
========================================================== */

.intro-section-program {background: linear-gradient(180deg, #EDF7FF 0%, #FFF 100%);}

.intro-program-grid {display: flex;gap: var(--krds-gap-8);margin-top: 3rem;flex-wrap: wrap;justify-content: center;}

/* 프로그램 카드 */
.program-card {position: relative;width: 30%;min-width: 40rem;min-height: 40rem;}

.intro-program-illust {
    position: absolute;
    top: -15rem;
    right: 0;
    transform: translateY(2px);
    width: 27.2rem;
    height: 17.9rem;
    background: url(../img/intro/intro-program-img.svg) 50% no-repeat;
}

.program-card-inner {display: flex;flex-direction: column;justify-content: space-between;height: 100%;background: #fff;border-radius: var(--krds-number-11);padding: var(--krds-number-17) var(--krds-number-16);box-shadow: 0 18px 40px rgba(41, 72, 152, 0.08);}

.program-card-title h4 {font-size: var(--krds-pc-font-size-heading-medium);font-weight: 700;color: var(--krds-light-color-text-static);}

.program-desc {font-size: var(--krds-pc-font-size-body-small);color: var(--krds-light-color-text-subtle);margin-top: var(--krds-number-8);}

/* meta badge */
.program-meta {display: flex;align-items: center;gap: 0.5rem;color: var(--krds-light-color-text-primary);}
.program-meta .program-count {font-weight:var(--c-font-weight-6);}

.program-divider {display: block;border-top: 1px solid var(--krds-color-light-gray-20);margin: 2rem 0;}

.program-tags {
    display: flex;
    gap: 0.5rem;
}

.intro-program-note {
    display: flex;
    justify-content: center;
    gap: var(--krds-gap-2);
    opacity: .5;
    margin-top: -2rem;
}

/* ==========================================================
4. BANDS SECTION (운영안내)
========================================================== */

.intro-section-bands {padding: 12rem 20rem 18rem;}

.intro-bands {display: flex;flex-direction: column;gap: var(--krds-gap-10);}

.intro-band-card {background: linear-gradient(95deg, #FFF 44.16%, #EAF4FF 82.68%, #FAF4FF 98.84%);border-radius: var(--krds-number-14);box-shadow: 0 18px 40px rgba(41, 72, 152, 0.1);border: 1px solid var(--krds-light-color-border-secondary-light);overflow: hidden;position: relative;}

.intro-band-inner {position: relative;display: flex;padding: var(--krds-number-19) var(--krds-number-20);max-height: 36rem;}

.intro-band-text {
flex: 1;
}

.intro-band-label {font-size: var(--krds-pc-font-size-heading-xsmall);font-weight: var(--c-font-weight-6);color: var(--krds-color-high-contrast-gray-40);}

.intro-band-title {font-size: var(--krds-pc-font-size-heading-medium);margin: 2rem 0;color: var(--krds-light-color-text-basic);}

.intro-band-list {font-size: var(--krds-pc-font-size-body-medium);margin-top: var(--krds-number-16);color: var(--krds-light-color-text-subtle);list-style: disc;padding-left: 2rem;font-weight: var(--c-font-weight-3);}

.intro-band-image {position: absolute;right: 0;bottom: 0;width: 65rem;height: 36rem;background-position: 50%;background-repeat: no-repeat;}

.intro-band-image-1 {background-image: url(../img/intro/intro-bands-img1.svg);}
.intro-band-image-2 {background-image: url(../img/intro/intro-bands-img2.svg);}
.intro-band-image-3 {background-image: url(../img/intro/intro-bands-img3.svg);}

/* ==========================================================
5. STEPS SECTION (절차 안내)
========================================================== */

.intro-section-steps {
    padding: 12rem 20rem 20rem;
    background: var(--intro-bg-gray-5);
}

.intro-section-steps::after {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    display: block;
    width: 100%;
    height: 14.5rem;
    background: url(../img/intro/intro-steps-bg.svg) 50%;
    background-repeat: repeat-x;
}

.intro-step-list {z-index: 1;display: grid;grid-template-columns: repeat(4, 1fr);gap: 2rem;margin-top: 3rem;}




.intro-step-item {display: flex;flex-direction: column;align-items: center;gap: var(--krds-gap-8);}


.intro-step-badge {display: flex;padding: 1rem 2rem;justify-content: center;align-items: center;border-radius: var(--krds-radius-max);font-size: var(--krds-pc-font-size-body-large);color: var(--krds-light-color-text-inverse-static);font-weight: var(--c-font-weight-6);}

.step1 .intro-step-badge {background-color: var(--krds-color-high-contrast-information-30);}
.step2 .intro-step-badge {background-color: var(--krds-color-high-contrast-information-40);}
.step3 .intro-step-badge {background-color: var(--krds-color-high-contrast-information-50);}
.step4 .intro-step-badge {background-color: var(--krds-color-high-contrast-information-70);}




.intro-step-item-box {
    display: flex;
    width: 26rem;
    height: 24rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--krds-number-12);
    padding: var(--krds-padding-7);
    border: 1px solid var(--krds-light-color-border-gray-light);
    background-color: var(--krds-light-color-background-white);
}

.intro-step-icon {width:9.6rem;height:9.6rem;background-position: 50%;background-repeat: no-repeat;}

.intro-step-icon.step-1 {background-image: url(../img/intro/icon_step1.svg);}
.intro-step-icon.step-2 {background-image: url(../img/intro/icon_step2.svg);}
.intro-step-icon.step-3 {background-image: url(../img/intro/icon_step3.svg);}
.intro-step-icon.step-4 {background-image: url(../img/intro/icon_step4.svg);}

.intro-step-item h4 {font-size: var(--krds-pc-font-size-heading-medium);font-weight: var(--c-font-weight-6);}

.intro-step-item p {text-align: center;font-size: var(--krds-pc-font-size-label-medium);color: var(--krds-light-color-text-subtle);}


/* ==========================================================
6. CTA SECTION
========================================================== */

.intro-section-cta {padding: 0;}

.intro-cta-box {max-width: initial;background: var(--krds-color-high-contrast-primary-70);padding: 6rem 2rem;text-align: center;}

.intro-cta-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 131rem;
    margin: 0 auto;
}

.intro-cta-text h3 {position: relative;font-size: var(--krds-pc-font-size-heading-medium);font-family: var(--c-font-edb);font-weight: 700;color: var(--krds-light-color-text-inverse-static);}

.intro-cta-text h3::after,
.intro-cta-text h3::before {
    content: '';
    display: block;
    position: absolute;
    background-position: 50%;
    background-repeat: no-repeat;
}
.intro-cta-text h3::before {
    top: 2rem;
    left: -9rem;
    width: 9.5rem;
    height: 6rem;
    background-image: url(../img/intro/cta-obj1.svg);
}
.intro-cta-text h3::after {
    top: -3rem;
    right: -5rem;
    width: 6.8rem;
    height: 3.6rem;
    background-image: url(../img/intro/cta-obj2.svg);
}

.intro-cta-text p {
color: var(--krds-color-light-gray-80);
margin-bottom: 2rem;
}


/* ==========================================================
반응형 설정
========================================================== */

@media (max-width: 1024px) {
.intro-hero-inner {
flex-direction: column;
align-items: center;
text-align: center;
}

.intro-feature-grid {
grid-template-columns: repeat(2, 1fr);
}

.intro-program-grid {
grid-template-columns: 1fr;
}

.intro-step-list {
grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 768px) {
.intro-section {
padding: 4rem 1.25rem 4.5rem;
}

.intro-feature-grid {
grid-template-columns: 1fr;
}

.intro-band-inner {
flex-direction: column;
}

.intro-step-list {
grid-template-columns: 1fr;
}
}