@charset "UTF-8";

@font-face {/*엘리스디지털배움체-*/
  font-family: 'EliceDigitalBaeum';
  font-weight:700;
  font-style: normal;
  font-display: swap;
  src: url('../../resources/font/EliceDigitalBaeum-Bd.woff2') format('woff2');
}

:root {
    /*추가*/
    --c-font-edb:'EliceDigitalBaeum';

    --c-font-weight-3: 300;
    --c-font-weight-6: 600;
}
/* 텍스트 정렬(전역 사용 클래스) */
.aling-center {text-align:center;}
.aling-left {text-align:left;}
.aling-right {text-align:right;}


/* 정렬 */
.flex-dire-row {flex-direction: row;}
.flex-dire-col {flex-direction: column;}
.flex-dire-row-rev {flex-direction: row-reverse;}
.flex-dire-col-rev {flex-direction: column-reverse;}

.flex-justify-center {justify-content: center;}
.flex-justify-start {justify-content: flex-start;}
.flex-justify-end {justify-content: flex-end;}
.flex-justify-between {justify-content: space-between;}


/* ========================================
 * Table
 * ====================================== */
.krds-table-wrap .tbl.data.center thead th,
.krds-table-wrap .tbl.data.center tbody td {text-align:center;}

.krds-table-wrap .tbl.data thead th {
  padding: var(--krds-table--data-thead-th-padding) 1rem;
}

.krds-table-wrap .krds-form-check {
  justify-content: center;
}

.krds-table-wrap td i.svg-icon {
  width: var(--krds-size-height-5);
  height: var(--krds-size-height-5);
}

.krds-table-wrap td .data-amount {
  font-size: var(--krds-pc-font-size-label-medium);
  text-align: right;
}

.krds-table-wrap td .data-amount::placeholder {
  font-size: 1.5rem;
  color: var(--krds-color-high-contrast-gray-30);
  font-weight: var(--c-font-weight-3);
}

.krds-table-wrap td p.data-amount {
  padding-right: 1rem;
}

.krds-table-wrap td .krds-form-select.small {
  padding: 0 var(--krds-padding-5);
}
/* ========================================
 * Project Name 오버 시 Tooltip
 * ====================================== */
.project-name {
  text-align: left;
  min-width: 0;
  position: relative;
  overflow: visible;
}

.project-name .info-top {
  margin-bottom: 0.3rem;
  color: var(--krds-light-color-text-subtle);
}

.project-name strong {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-weight: var(--c-font-weight-6);
  white-space: nowrap;
  max-width: 480px;
}

.project-name.krds-tooltip.tooltip-vertical:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 105%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background: var(--krds-color-light-gray-90);
  color: #fff;
  padding: 8px 10px;
  border-radius: var(--krds-radius-small3);
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.project-name.krds-tooltip.tooltip-vertical:hover::before {
  content: "";
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateY(-50%) rotate(-180deg);
  border: 6px solid transparent;
  border-top-color: var(--krds-color-light-gray-90);
}

.ellipsis {
  cursor: default;
}


/* 기본뱃지 커스텀 */
.krds-badge.custom-bd {min-width:7.6rem}
.krds-badge.custom-bd.bg-light-disabled {
    font-weight: var(--c-font-weight-3);
    background-color: var(--krds-color-high-contrast-gray-10);
    color: var(--krds-color-high-contrast-gray-40);
}

/* 아이콘 뱃지 - 상태표시 */
.krds-badge.custom-bd:has(i[class*="svg-icon"]) {
    width: auto;
    height: auto;
    min-width: initial;
    padding: .7rem;
    border: 1px solid var(--krds-color-light-gray-20);
    background-color: var(--krds-color-light-alpha-white100);
}
.krds-badge.custom-bd:has(i[class*="svg-icon"]).small{
    height: var(--krds-size-height-6);
}

/* 사업 뱃지 */
.krds-badge.badge {border-radius:0;border:1px solid;padding:0.2rem 0.6rem;font-size:1.5rem;height:2.8rem;background-color:var(--krds-light-color-background-white);}
.krds-badge.badge::after {margin-top:.1rem;line-height:1;}
.krds-badge.badge[data-name="project01"] {border-color:var(--krds-light-color-border-primary);color:var(--krds-color-light-primary-60);}
.krds-badge.badge[data-name="project01"]::after {content:'선택사업';}
.krds-badge.badge[data-name="project02"] {border-color:var(--krds-light-color-border-warning);color:var(--krds-color-light-warning-50);}
.krds-badge.badge[data-name="project02"]::after {content:'선택외사업';}
.krds-badge.badge[data-name="project03"] {border-color:var(--krds-light-color-border-secondary);color:var(--krds-color-light-secondary-70);}
.krds-badge.badge[data-name="project03"]::after {content:'개방형사업';}
.krds-badge.badge[data-name="project04"] {border-color:var(--krds-light-color-border-success);color:var(--krds-color-light-success-50);}
.krds-badge.badge[data-name="project04"]::after {content:'자율사업';}
.krds-badge.badge[data-name="project05"] {border-color:var(--krds-light-color-border-point);color:var(--krds-color-light-point-60);}
.krds-badge.badge[data-name="project05"]::after {content:'특교·추경신규사업';}

/* 라인 버튼*/
.krds-btn.line {padding:0 .7rem;border-color:var(--krds-color-light-gray-20);background-color: var(--krds-color-light-alpha-white100);}
.krds-btn.line:active,
.krds-btn.line:hover {border-color:var(--krds-color-light-primary-30);background-color:var(--krds-color-light-primary-5);}
.krds-btn.line:hover > i.svg-icon {background-color:var(--krds-color-light-primary-60);}
.krds-badge.small .svg-icon,
.krds-btn.line.small .svg-icon {width: var(--krds-icon--size-large);height: var(--krds-icon--size-large);}
.krds-btn.line .svg-icon {background-color: var(--krds-light-color-text-basic);}

/* 아이콘 */
.svg-icon {-webkit-mask-repeat: no-repeat;-webkit-mask-position: center center;-webkit-mask-size: contain;mask-repeat: no-repeat;mask-position: center center;mask-size: contain;}
.svg-icon.disabled {background-color: var(--krds-color-light-gray-20);}
.svg-icon.white {background-color:var(--krds-light-color-icon-inverse);}
.svg-icon.blue {background-color:var(--krds-light-color-icon-primary);}
[class$="-disabled"] {background-color: var(--krds-light-color-icon-gray-fill) !important;}
[class$="-fill"] {-webkit-mask-image: none;mask-image: none;background-color: transparent !important;background-size: contain;background-repeat: no-repeat;-webkit-mask: none;mask: none;}
i[class*="svg-icon"] {text-indent: -999px;overflow: hidden;}

.svg-icon.medium {
    width: var(--krds-icon--size-medium);
    height: var(--krds-icon--size-medium);   
}

.svg-icon.ico-arrsort {
    -webkit-mask-image: url(../../resources/img/ico_arrow_sort_both.svg);
    mask-image: url(../../resources/img/ico_arrow_sort_both.svg); 
}
.svg-icon.ico-atomic {
    -webkit-mask-image: url(../../resources/img/ico_atomic.svg);
    mask-image: url(../../resources/img/ico_atomic.svg); 
}
.svg-icon.ico-facesad {
    -webkit-mask-image: url(../../resources/img/ico_face_sad.svg);
    mask-image: url(../../resources/img/ico_face_sad.svg); 
}
.svg-icon.ico-access {
    -webkit-mask-image: url(../../resources/img/ico_accessibility.svg);
    mask-image: url(../../resources/img/ico_accessibility.svg);
}
.svg-icon.ico-analy {
    -webkit-mask-image: url(../../resources/img/ico_analytics.svg);
    mask-image: url(../../resources/img/ico_analytics.svg);
}
.svg-icon.ico-rotaleft {
    -webkit-mask-image: url(../../resources/img/ico_arrow_rotate_left.svg);
    mask-image: url(../../resources/img/ico_arrow_rotate_left.svg);
}
.svg-icon.ico-blur {
    -webkit-mask-image: url(../../resources/img/ico_blur.svg);
    mask-image: url(../../resources/img/ico_blur.svg);
}
.svg-icon.ico-bookmk {
    -webkit-mask-image: url(../../resources/img/ico_bookmarks.svg);
    mask-image: url(../../resources/img/ico_bookmarks.svg);
}
.svg-icon.ico-certi {
    -webkit-mask-image: url(../../resources/img/ico_certified.svg);
    mask-image: url(../../resources/img/ico_certified.svg);
}
.svg-icon.ico-component {
    -webkit-mask-image: url(../../resources/img/ico_component.svg);
    mask-image: url(../../resources/img/ico_component.svg);
}
.svg-icon.ico-copy {
    -webkit-mask-image: url(../../resources/img/ico_copy.svg);
    mask-image: url(../../resources/img/ico_copy.svg);
}
.svg-icon.ico-docu {
    -webkit-mask-image: url(../../resources/img/ico_document.svg);
    mask-image: url(../../resources/img/ico_document.svg);
}
.svg-icon.ico-docu-bold {
    -webkit-mask-image: url(../../resources/img/ico_document_fill.svg);
    mask-image: url(../../resources/img/ico_document_fill.svg);
}
.svg-icon.ico-docu-twin {
    -webkit-mask-image: url(../../resources/img/ico_document_twin.svg);
    mask-image: url(../../resources/img/ico_document_twin.svg);
}
.svg-icon.ico-docu-check {
    -webkit-mask-image: url(../../resources/img/ico_document_check.svg);
    mask-image: url(../../resources/img/ico_document_check.svg);
}
.svg-icon.ico-dummy {
    -webkit-mask-image: url(../../resources/img/ico_dummy.svg);
    mask-image: url(../../resources/img/ico_dummy.svg);
}
.svg-icon.ico-heart {
    -webkit-mask-image: url(../../resources/img/ico_ecg_heart.svg);
    mask-image: url(../../resources/img/ico_ecg_heart.svg);
}
.svg-icon.ico-edit-bold {
    -webkit-mask-image: url(../../resources/img/ico_edit_fill.svg);
    mask-image: url(../../resources/img/ico_edit_fill.svg);
}
.svg-icon.ico-edit {
    -webkit-mask-image: url(../../resources/img/ico_edit.svg);
    mask-image: url(../../resources/img/ico_edit.svg);
}
.svg-icon.ico-edit-type2 {
    -webkit-mask-image: url(../../resources/img/ico_edit_type2.svg);
    mask-image: url(../../resources/img/ico_edit_type2.svg);
}
.svg-icon.ico-eleva {
    -webkit-mask-image: url(../../resources/img/ico_elevation.svg);
    mask-image: url(../../resources/img/ico_elevation.svg);
}
.svg-icon.ico-ellipsv {
    -webkit-mask-image: url(../../resources/img/ico_ellipsis_vertical.svg);
    mask-image: url(../../resources/img/ico_ellipsis_vertical.svg);
}
.svg-icon.ico-facesmile {
    -webkit-mask-image: url(../../resources/img/ico_face_smile.svg);
    mask-image: url(../../resources/img/ico_face_smile.svg);
}
.svg-icon.ico-filter-type2 {
    -webkit-mask-image: url(../../resources/img/ico_filter_type2.svg);
    mask-image: url(../../resources/img/ico_filter_type2.svg);
}
.svg-icon.ico-hdphone {
    -webkit-mask-image: url(../../resources/img/ico_headphones.svg);
    mask-image: url(../../resources/img/ico_headphones.svg);
}
.svg-icon.ico-idtt {
    -webkit-mask-image: url(../../resources/img/ico_identity.svg);
    mask-image: url(../../resources/img/ico_identity.svg);
}
.svg-icon.ico-img {
    -webkit-mask-image: url(../../resources/img/ico_img.svg);
    mask-image: url(../../resources/img/ico_img.svg);
}
.svg-icon.ico-lncheck {
    -webkit-mask-image: url(../../resources/img/ico_line_check.svg);
    mask-image: url(../../resources/img/ico_line_check.svg);
}
.svg-icon.ico-locaawy {
    -webkit-mask-image: url(../../resources/img/ico_location_away.svg);
    mask-image: url(../../resources/img/ico_location_away.svg);
}
.svg-icon.ico-password {
    -webkit-mask-image: url(../../resources/img/ico_login_id_password.svg);
    mask-image: url(../../resources/img/ico_login_id_password.svg);
}
.svg-icon.ico-map {
    -webkit-mask-image: url(../../resources/img/ico_map.svg);
    mask-image: url(../../resources/img/ico_map.svg);
}
.svg-icon.ico-minus {
    -webkit-mask-image: url(../../resources/img/ico_minus.svg);
    mask-image: url(../../resources/img/ico_minus.svg);
}
.svg-icon.ico-mode {
    -webkit-mask-image: url(../../resources/img/ico_mode.svg);
    mask-image: url(../../resources/img/ico_mode.svg);
}
.svg-icon.ico-newfolder {
    -webkit-mask-image: url(../../resources/img/ico_new_folder.svg);
    mask-image: url(../../resources/img/ico_new_folder.svg);
}
.svg-icon.ico-open {
    -webkit-mask-image: url(../../resources/img/ico_open.svg);
    mask-image: url(../../resources/img/ico_open.svg);
}
.svg-icon.ico-paycard {
    -webkit-mask-image: url(../../resources/img/ico_payment_card.svg);
    mask-image: url(../../resources/img/ico_payment_card.svg);
}
.svg-icon.ico-helpline {
    -webkit-mask-image: url(../../resources/img/ico_popover_help.svg);
    mask-image: url(../../resources/img/ico_popover_help.svg);
}
.svg-icon.ico-receipt {
    -webkit-mask-image: url(../../resources/img/ico_receipt.svg);
    mask-image: url(../../resources/img/ico_receipt.svg);
}
.svg-icon.ico-reset-type2 {
    -webkit-mask-image: url(../../resources/img/ico_reset_type2.svg);
    mask-image: url(../../resources/img/ico_reset_type2.svg);
}
.svg-icon.ico-shadow {
    -webkit-mask-image: url(../../resources/img/ico_shadow.svg);
    mask-image: url(../../resources/img/ico_shadow.svg);
}
.svg-icon.ico-spread {
    -webkit-mask-image: url(../../resources/img/ico_spread.svg);
    mask-image: url(../../resources/img/ico_spread.svg);
}
.svg-icon.ico-sync {
    -webkit-mask-image: url(../../resources/img/ico_sync.svg);
    mask-image: url(../../resources/img/ico_sync.svg);
}
.svg-icon.ico-time {
    -webkit-mask-image: url(../../resources/img/ico_time.svg);
    mask-image: url(../../resources/img/ico_time.svg);
}
.svg-icon.ico-trans {
    -webkit-mask-image: url(../../resources/img/ico_transparency.svg);
    mask-image: url(../../resources/img/ico_transparency.svg);
}
.svg-icon.ico-trash {
    -webkit-mask-image: url(../../resources/img/ico_trash.svg);
    mask-image: url(../../resources/img/ico_trash.svg);
}
.svg-icon.ico-tray {
    -webkit-mask-image: url(../../resources/img/ico_tray.svg);
    mask-image: url(../../resources/img/ico_tray.svg);
}
.svg-icon.ico-trophy {
    -webkit-mask-image: url(../../resources/img/ico_trophy.svg);
    mask-image: url(../../resources/img/ico_trophy.svg);
}
.svg-icon.ico-typobox {
    -webkit-mask-image: url(../../resources/img/ico_typo_box.svg);
    mask-image: url(../../resources/img/ico_typo_box.svg);
}
.svg-icon.ico-typo {
    -webkit-mask-image: url(../../resources/img/ico_typo.svg);
    mask-image: url(../../resources/img/ico_typo.svg);
}
.svg-icon.ico-veiwall {
    -webkit-mask-image: url(../../resources/img/ico_veiw_all.svg);
    mask-image: url(../../resources/img/ico_veiw_all.svg);
}
.svg-icon.ico-refile-disabled {
    -webkit-mask-image: url(../../resources/img/ico_file_return_disabled.svg);
    mask-image: url(../../resources/img/ico_file_return_disabled.svg);
}
.svg-icon.ico-lncheck-disabled {
    -webkit-mask-image: url(../../resources/img/ico_checkbox_line.svg);
    mask-image: url(../../resources/img/ico_checkbox_line.svg);
}
.svg-icon.ico-cmpdisabled-fill {
    background-image: url(../../resources/img/ico_complete_disabled.svg);
}
.svg-icon.ico-reding-fill {
    background-image: url(../../resources/img/ico_sysyem_ing_red.svg);
}
.svg-icon.ico-yeling-fill {
    background-image: url(../../resources/img/ico_sysyem_img_yellow.svg);
}
.svg-icon.ico-danger-fill {
    background-image: url(../../resources/img/ico_system_danger.svg);
}
.svg-icon.ico-dangergr-fill {
    background-image: url(../../resources/img/ico_system_danger_type2.svg);
}
.svg-icon.ico-yelinfo-fill {
    background-image: url(../../resources/img/ico_system_info_type2.svg);
}
.svg-icon.ico-reject-fill {
    background-image: url(../../resources/img/ico_system_reject.svg);
}
.svg-icon.ico-return-fill {
    background-image: url(../../resources/img/ico_system_return.svg);
}
.svg-icon.ico-warning-fill {
    background-image: url(../../resources/img/ico_system_warning.svg);
}
.svg-icon.ico-refile-fill {
    background-image: url(../../resources/img/ico_file_return.svg);
}
.svg-icon.ico-twinck-fill {
    background-image: url(../../resources/img/ico_guide_check.svg);
}
.svg-icon.ico-library-fill {
    background-image: url(../../resources/img/ico_library.svg);
}
.svg-icon.ico-roundck-fill {
    background-image: url(../../resources/img/ico_round_check.svg);
}
.svg-icon.ico-downblue-fill {
    background-image: url(../../resources/img/ico_stat_down_blue.svg);
}
.svg-icon.ico-upred-fill {
    background-image: url(../../resources/img/ico_stat_up_red.svg);
}
.svg-icon.ico-curser-fill {
    background-image: url(../../resources/img/ico_curser.svg);
}
.svg-icon.ico-pdf-fill {
    background-image: url(../../resources/img/ico_pdf.svg);
}


